<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @community_group.name %> Chatroom</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <style>
  .chatbox {
    height: 450px;
  }
  </style>
</head>
<body>
  <div class="ui container" style="margin-top: 20px;">
    <!-- Header Section -->
    <header class="ui center aligned segment">
      <h4 class="ui center aligned medium icon header">
        <i class="circular users icon"></i>
        <%= @community_group.name %>
      </h4>
    </header>

    <!-- Main Content -->
    <div class="ui stackable two column grid">
      <!-- Activity Feed -->
      <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
          <div class="content">
            <h4 class="ui header">Messages</h4>
            <div class="ui small feed" id="messages" data-community-group-id="<%= @community_group.id %>">
              <%= render @messages %>
            </div>
          </div>
          <div class="extra content">
            <%= form_with(model: [@community_group, Message.new], local: true) do |f| %>
              <div class="field">
                <%= f.text_area :body, placeholder: "Write a message...", class: "form-control" %>
              </div>
              <%= f.submit "Send", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  document.addEventListener("DOMContentLoaded", () => {
    const messageInput = document.querySelector("input[name='message[body]']");
    const messageForm = document.querySelector("form.ui.reply.form");

    if (messageInput && messageForm) {
      messageInput.addEventListener("keydown", (event) => {
        if (event.key === "Enter" && !event.shiftKey) {
          event.preventDefault(); // Varsayılan Enter davranışını engelle
          messageForm.submit(); // Formu gönder
        }
      });
    }
  });
</script>

</body>
</html>
