<h1>Profil Düzenle</h1>

<%= form_with(model: @user, url: user_path(@user), method: :patch, local: true, multipart: true) do |form| %>
  <div class="form-group">
    <%= form.label :name, "Ad" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :username, "Kullanıcı Adı" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password, "Şifre (Opsiyonel)" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :profile_picture, "Profil Fotoğrafı" %>
    <%= form.file_field :profile_picture, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Kaydet", class: "btn btn-success" %>
  </div>
<% end %>