<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Campus Connect" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Semantic UI CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <%= javascript_pack_tag "application" %>

    <!-- Diğer başlık öğeleri -->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <style>
      .chatbox {
        height: 450px;
      }
    </style>
  </head>
  <body>
    <div class="ui small inverted menu">
      <div class="ui container">
        <%= render 'layouts/navigation' %>
      </div>
    </div>

    <div class="ui container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
      scroll_bottom = function() {
        if ($('#messages').length > 0) {
          $('#messages').scrollTop($('#messages')[0].scrollHeight);
        }
      }

      submit_message = function() {
        $('#message_body').on('keydown', function(e) {
          if (e.keyCode == 13) {
            $('button').click();
            e.target.value = "";
          };
        });
      };

      $(document).ready(function() {
        $('.ui.dropdown').dropdown();
        $('.message .close').on('click', function() {
          $(this).closest('.message').transition('fade');
        });
        submit_message();
        scroll_bottom();
      });
    </script>
  </body>
</html>
